/*           Labels & Progress-bar              */
.label{
   @include label-style();
}
.label-icon{
    padding: 0.4em 0.55em;
    i{
       font-size: 0.8em;
       line-height: 1;
    }
}
.label-default{
    background-color: $font-color;
}
.label-primary{
    background-color: $primary-color;
}
.label-info{
    background-color: $info-color;
}
.label-success{
    background-color: $success-color;
}
.label-warning{
    background-color: $warning-color;
}
.label-danger{
    background-color: $danger-color;
}
.status-label{
    font-size: 14px;
    background-color: #595555;
    padding: 5px 20px;
    text-align: center;
    border-radius: 20px;
    font-family: Montserrat, sans-serif;
    color: white;
}
.status-label.approve-status {
    background-color: #19B128;
}
.status-label.reprove-status {
    background-color: #EF0028;
}